.GroupList {
  .Header{
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    .left {
      font-weight: bold;
      font-size: 24px;
    }
    .right {
      background-color: red;
      color: white;
      width: 120px;
      height: 30px;
      border: none;
    }
  }

}
